* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}



.logo img {
    width: 139px;
    height: 60px;
}

nav {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .header-nav {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .header-nav a {
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    text-decoration: none;
}

.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
    text-align: center;

}

.btn-shadow {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);

}

.btn-img {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}

#banner-part {
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;


}

#banner-part .banner-part-container {

    width: 1360px;
    height: 379px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 295px;
}

#banner-part .banner-part-container .h11 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 72px;
    text-transform: capitalize;
    line-height: 84px;
    margin: 0px;
    padding: 0px;
}

#banner-part .banner-part-container .h12 {
    text-align: center;
    color: #30B868;
    font-weight: 700;
    font-size: 72px;
    text-transform: capitalize;
    line-height: 84px;
    margin: 0px;
    padding-bottom: 16px;
}

#banner-part .banner-part-container .banner-text {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding-bottom: 32px;
}

#banner-part .banner-part-container .banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn1 {

    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
}



main #main-container {
    margin: 0px 120px 120px 120px;
    width: 1360px;
    height: 448px;

}

main #main-container .main-container-heading {
    width: 1360px;
    height: 153px;
}

.main-container-heading-title {
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
    color: #001931;
    height: 116px;
    width: 1360px;
    text-align: center;
    text-transform: capitalize;
    line-height: 58px;
    margin-bottom: 16px;
}

.main-container-heading-title1 {
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    color: #001931;
    height: 116px;
    width: 1360px;
    text-align: center;
    text-transform: capitalize;
    line-height: 48px;
}

.heading-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 20px;
}

.heading-subtitle2 {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    line-height: 20px;
}

.main-container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 1360px;
    height: 300px;
}

.main-container-card .main-container-card-info {
    width: 322px;
    height: 300px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container-card .main-container-card-info .background-image {

    background-color: #F95555;

    padding: 0;
}

.red-circle {
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;

}

.main-container-card-info .red-circle img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.main-container-card-info .main-container-card-title {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-align: center;
    text-transform: capitalize;
    line-height: 29px;
    margin-bottom: 16px;
}

#Structure {
    height: 840px;
    width: 1600px;
    padding: 120px;

}

#Structure .Structure-container {
    width: 1360px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.image-design {
    width: 600px;
    height: 600px;
}

.image-design img {
    width: 600px;
    height: 600px;
}

.structure-info {
    width: 700px;
    height: 396px;
}

.structure-info .subtitle-structure {
    width: 700px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.structure-info .title-structure {
    width: 700px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: 58px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.heading-subtitle1 {
    width: 700px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    text-align: left;
    line-height: 20px;
    margin-bottom: 40px;
}

.unorder-style {
    width: 700px;
    list-style-type: none;
}

.unorder-style li {
    color: #001931;
    font-weight: 500;
    text-align: left;
    line-height: 20px;
    font-size: 16px;
}

.unorder-style li img {
    height: 20px;
    width: 20px;
}

#end_main {
    width: 1600px;
    height: 506px;
    padding: 0px 120px 120px;
}

#end_main .end_main-container {
    width: 1360px;
    height: 384px;
    padding: 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #F7F6F2;
}

#end_main .end_main-container .end_main-start {
    width: 1280px;
    height: 112px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.end-main-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

footer {
    background-color: #001931;
    width: 1600px;
    height: 348px;
    padding: 120px 120px 30px;
}

.footer-container {
    width: 1360px;
    height: 198px;

}


.footer-container .footer-container-1 {
    width: 1360px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

.footer-container .footer-container-1 img {
    width: 139px;
    height: 60px;
}

.footer-container .footer-container-1 .Social-links {
    width: 220px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.footer-container .footer-container-1 .Social-links .icons {
    width: 92px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.heading-footer {
    color: #FFFFFF;
    font-size: 20px;
    font-style: medium;
    font-weight: 500px;
    width: 120px;
    height: 28px;
    text-align: left;
}

.icons .white-circle {
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

.icons .white-circle img {
    height: 14px;
    width: 14px;
    box-sizing: border-box;
}

.footer-container .footer-container-2 {
    width: 1360px;
    height: 24px;
    text-align: center;
}

.footer-container-2-text {
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400;

}


.badge {
    width: 239px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #4caf50;
    box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.25);
}

.text {
    color: #4caf50;
    font-size: 16px;
    font-weight: 500;
    width: 183px;
    height: 19px;
}